.footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-bottom: calc(1rem + 1vw);
    background-color: rgb(225, 225, 225);
    border-radius: 15px;
    padding: calc(0.5vh + 0.5rem) calc(1vw + 1rem);
}

.logoImg {
    height: calc(1.6vh + 1.6rem);
}

.linksContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: calc(2rem + 2vw);
}

.linkText {
    font-size: calc(0.5vw + 0.5rem);
    font-weight: var(--font-weight-header);
    color: var(--font-color-secondary);
}

.footerText {
    font-size: calc(0.45vw + 0.45rem);
    color: var(--font-color-secondary);
}