# General
node_modules/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
Thumbs.db
*.log
*.log.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next/
out/
*.generated.js

# Backend
/backend/node_modules/
/backend/dist/
/backend/.env
/backend/*.log

# Production
/build
/dist

# Optional: Exclude specific files that might contain sensitive data or are specific to your IDE
/.vscode/
/.idea/
*.swp
*.swo

# Optional: MacOS and Windows system files
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
ehthumbs.db
